<label class="label">
    <span class="label-text">{{label}}</span>
    <input class='input' placeholder='{{placeholder}}' name='{{name}}' type='{{type}}' autocomplete {{#if disabled}}disabled{{/if}} value={{value}}>
    <span class="error-text">{{error}}</span>
</label>